body {
    font-family: 'Kanit', sans-serif;
}

.container-fluid {
    background-color: white;
    margin-block-start: -10px;
}

.img-logotipo {
    width: 200px;
    margin-top: 30px;
    margin-left: 60px;
}

.navbar-nav {
    margin-top: 40px;
    padding-right: 15px;
}

.nav-link {
    font-weight: bold;
}

nav-link a:hover {
    color: #2937F0;
}

.nav-button {
    margin-top: 40px;
    margin-right: 80px;
}

.feedback {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid #2937F0;
    border-radius: 25px;
    background-color: #2937F0;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 30px;
}

.feedback:hover {
    color: white;
    box-shadow: 0 4px 16px #2937F0;
    transition: all 0.2s ease;
}

.title-mobile {
    font-size: 50pt;
    font-weight: bold;
    text-align: left;
    margin-top: 200px;
    margin-left: 60px;
}

.text-mobile {
    font-size: 15pt;
    color: grey;
    text-align: left;
    margin-left: 60px;
}

.img-movil {
    width: 500px;
    margin-left: 300px;
    margin-top: 200px;
}